<template>
  <div class="container">
    <h2 class="text-center mt-5" >To-do list</h2>
    <!-- input -->
    <div class="d-flex mt-3">
      <input v-model="task" type="text" placeholder="Enter task" class="form-control">
      <button @click="sumbitTask" class="btn btn-warning rounded-0">SUMBIT</button>
    </div>
    <br>
    <!-- table -->
    <table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Task</th>
      <th scope="col">Status</th>
      <th scope="col" class="text-center">Edit</th>
      <th scope="col" class="text-center">Delete</th>
    </tr>
  </thead>
  <tbody>
    <tr v-for="(task, index) in tasks" :key="index">
      <th>
        <span :class="{'finished':task.status === 'finished'}">
          {{task.name}}
          </span>
        </th>
      <td style="width:120px ;" >
      <span @click="changeStatus(index)" class="pointer"
      :class="{'text-danger': task.status === 'to-do',
      'text-warning':task.status === 'in-progress',
      'text-success': task.status === 'finished'}">
        {{firstCharUpper(task.status)}}
      </span>
        </td>
      <td>
        <div class="text-center" @click="editTask(index)">
          <span class=" pointer fa fa-pen"></span>
        </div>
      </td>
      <td>
        <div class="text-center" @click="deleteTask(index)">
          <span class="pointer fa fa-trash"></span>
        </div>
      </td>
    </tr>
  </tbody>
</table>
  </div>
</template>

<script>

export default {
  name: 'HelloWorld',
  props: {
    msg: String
  },
  data(){
    return {
      editedTask : null,
      task:'',
      availableStatuses: ['to-do' , 'in-progress' , 'finished'],
      tasks: [
        {
          name: 'Homework.',
          status: 'to-do'
        },
        {
          name: 'Go to the Gym.',
          status: 'in-progress'
        }
      ]
    }
  },
  methods: {
    //Function for Sumbit new task
    sumbitTask(){
      if(this.task.length === 0) return;

      if(this.editedTask === null){
      this.tasks.push(
        {
          name: this.task,
          status: 'to-do'
        }
      );
    }
    else{
      this.tasks[this.editedTask].name = this.task;
      this.editedTask = null;
    }
      this.task = '';
    },
    // Function for Delete task
    deleteTask(index){
      this.tasks.splice(index,1);
    },
    // Function for Edit task
    editTask(index){
      this.task = this.tasks[index].name;
      this.editedTask = index;
    },
    // Function for Change status
    changeStatus(index){
      let newIndex = this.availableStatuses.indexOf(this.tasks[index].status)
      if(++newIndex > 2) newIndex = 0;
      this.tasks[index].status = this.availableStatuses[newIndex];
    },
    // Function for make first char uppercase
    firstCharUpper(str){
      return str.charAt(0).toUpperCase() + str.slice(1);
    }
  }
};
</script>

<style scoped>
.pointer{
cursor: pointer;
}
.finished{
  text-decoration: line-through;
}
</style>
