<template>
<div id="app">
<Todoapp></Todoapp>
</div>
</template>

<script>
import Todoapp from './components/Todoapp.vue'

export default {
  name: 'App',
  components: {
    Todoapp
  },
}
</script>
